<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>綠色番茄鐘</title>
</head>
<style>
     :root {
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 1.2rem;
    }
    
    h1 {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        text-align: center;
        font-size: 1.2rem;
        font-weight: normal;
    }
    
    .pomoClock {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: #fff;
        z-index: 5;
        padding: 0 50px
    }
    
    .fa {
        color: #399;
        font-size: 1.8rem;
        cursor: pointer;
    }
    
    .pomoCookie {
        position: absolute;
        bottom: 0;
        padding: 0 10px;
    }
    
    .pomoCookie p span:nth-child(2) {
        padding-left: 30px;
    }
</style>

<body>
    <div id="app">
        <section>
            <h1>{{msg}}</h1>
            <div class="pomoClock">
                <!-- <p>{{timePomoCount}} </p> -->
                <p v-if="isShort">{{pomoMinute(timeShortCount)}}： {{pomoSecond(timeShortCount)}}</p>
                <p v-else>{{pomoMinute(timePomoCount)}}： {{pomoSecond(timePomoCount)}}</p>
                <!-- 開始 -->
                <!-- <i class="fa fa-play-circle" aria-hidden="true" v-if="isCount" @click='countDown'></i> -->
                <!-- 暫停 -->
                <!-- <i class="fa fa-pause-circle" aria-hidden="true" v-else @click='countPause'></i> -->

                <!-- 暫停 -->
                <i class="fa fa-pause-circle" aria-hidden="true" v-if="isCount" @click='countPause'></i>
                <!-- 開始 -->
                <i class="fa fa-play-circle" aria-hidden="true" v-else @click='countDown'></i>
                <i class="fa fa-stop-circle" aria-hidden="true" v-if="isPomo" @click='countStop'></i>
            </div>
        </section>
        <footer class="pomoCookie">
            <p>
                <span>已採收：{{timeCookie}}/4番茄</span>
                <span>已收穫：{{pomotreeCookie}}棵番茄樹</span>
            </p>
        </footer>
    </div>
    </div>
</body>
<script>
    let app = new Vue({
        el: "#app",
        data: {
            msg: "開始熱血🍅吧",
            unCountMsg: "開始熱血🍅吧",
            pomoMsg: "\\ 番茄🍅時光 /",
            shortMsg: "小歇片刻，🍅熟了最好吃",
            longMsg: "好好休息，等下一棵🍅",
            isCount: false,
            isPomo: false,
            isShort: false,
            isLong: false,
            // 番茄時間
            timePomo: 5,
            timePomoCount: 5,
            //小歇
            timeShort: 3,
            timeShortCount: 3,
            //休息
            timeLong: 4,
            timeLongCount: 4,
            timeInterval: null,
            alertMusic: 'bell.mp3',
            timeCookie: 0,
            pomotreeCookie: 0
        },
        methods: {
            countDown: function() {
                //計畫讓time代入Count
                // this.timePomoCount = this.timePomo
                this.msg = this.pomoMsg
                this.isCount = true
                this.isPomo = true
                this.timeInterval = setInterval(this.timeCountDowner, 1000)
            },
            countPause: function() {
                clearInterval(this.timeInterval)
                this.isCount = false
            },
            countStop: function() {
                clearInterval(this.timeInterval)
                this.timeResetter()
            },
            timeCountDowner() {
                this.timePomoCount = this.timePomoCount - 1
                if (this.timePomoCount < 0) {
                    alert('時間到')
                        // this.shortcountDown()
                    clearInterval(this.timeInterval)
                    this.timePomoCount = 0
                    this.shortCountDown()
                }
            },
            shortCountDown: function() {
                this.msg = this.shortMsg
                this.isShort = true
                this.timeInterval = setInterval(this.shortCountDowner, 1000)
            },
            shortCountDowner() {
                this.timeShortCount = this.timeShortCount - 1
                if (this.timeShortCount < 0) {
                    alert('小歇結束')
                    clearInterval(this.timeInterval)
                    this.timeShortCount = 0
                    this.timeResetter()
                }
            },
            longCountDown: function() {
                this.msg = this.longMsg
                this.isLong = true
                this.timeInterval = setInterval(this.longCountDowner, 1000)
            },
            longCountDowner() {
                this.timeLongCount = this.timeLongCount - 1
                if (this.timeLongCount < 0) {
                    alert('休息結束')
                    clearInterval(this.timeInterval)
                    this.timeShortCount = 0
                    this.timeResetter()
                }
            },
            timeResetter() {
                this.msg = this.unCountMsg
                this.isCount = false
                this.isPomo = false
                this.isShort = false
                this.isLong = false
                this.timePomoCount = this.timePomo
                this.timeShortCount = this.timeShort
                this.timeCookier()
            },
            timeCookier() {
                this.timeCookie++
                    if (this.timeCookie >= 4) {
                        this.timeCookie = 0
                        this.pomotreeCookie++
                    }
            },
            padZero(numVar, numLength) {
                return (Array(numLength).join("0").slice(-numLength) + numVar).slice(-numLength)
            },
            pomoMinute(time) {
                return this.padZero(Math.floor(time / 60), 2)
            },
            pomoSecond(time) {
                return this.padZero(time % 60, 2)
            }
        },
        computed: {

        }
    })
</script>

</html>